In [219]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import itertools
from collections import Counter
from itertools import combinations

In [223]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1340,tt0388795,14000000,178043761,Brokeback Mountain,Heath Ledger|Jake Gyllenhaal|Randy Quaid|Miche...,Ang Lee,Love is a force of nature.,Brokeback Mountain is an Ang Lee film about tw...,134,Drama|Romance,River Road Entertainment|Alberta Film Entertai...,9/2/2005,7.2,2005
158,tt1911658,132000000,373552094,Penguins of Madagascar,Tom McGrath|Chris Miller|Christopher Knights|C...,Simon J. Smith|Eric Darnell,The Movie Event That Will Blow Their Cover,"Skipper, Kowalski, Rico and Private join force...",92,Family|Animation|Adventure|Comedy,DreamWorks Animation,11/22/2014,6.5,2014
528,tt0239395,60000000,93375151,Cats & Dogs,Jeff Goldblum|Elizabeth Perkins|Alexander Poll...,Lawrence Guterman,Things Are Gonna Get Hairy!,When a professor develops a vaccine that elimi...,87,Comedy|Family,Village Roadshow Pictures|NPV Entertainment|Ma...,7/4/2001,5.0,2001
1335,tt0369735,43000000,154749918,Monster-in-Law,Jennifer Lopez|Jane Fonda|Michael Vartan|Wanda...,Robert Luketic,This relationship is going to be a real mother.,Office temp Charlotte Cantilini thinks she's f...,101,Comedy,New Line Cinema|Spring Creek Productions|Bende...,5/13/2005,5.7,2005
559,tt0180734,32000000,40222729,Hardball,Keanu Reeves|Diane Lane|Michael B. Jordan|D. B...,Brian Robbins,The most important thing in life is showing up,"An aimless young man who is scalping tickets, ...",106,Comedy|Romance,Paramount Pictures|GHS Productions KG|Munich F...,9/14/2001,6.4,2001

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [225]:
answers = {} # создадим словарь для ответов
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)' # "+"
answers['2'] = '2. Gods and Generals (tt0279111)' # "+"
answers['3'] = '3. Winnie the Pooh (tt1449283)' # "+"
answers['4'] = '2. 110' # "+"
answers['5'] = '1. 107' # "+"
answers['6'] = '5. Avatar (tt0499549)' # "+"
answers['7'] = '5. The Lone Ranger (tt1210819)' # "+"
answers['8'] = '1. 1478' # "+"
answers['9'] = '4. The Dark Knight (tt0468569)' # "+"
answers['10'] = '5. The Lone Ranger (tt1210819)' # "+"
answers['11'] = '3. Drama' # "+"
answers['12'] = '1. Drama' # "+"
answers['13'] = '5. Peter Jackson' # "+"
answers['14'] = '3. Robert Rodriguez' # "+"
answers['15'] = '3. Chris Hemsworth' # "+"
answers['16'] = '3. Matt Damon' # "+"
answers['17'] = '2. Action' # "+"
answers['18'] = '1. K-19: The Widowmaker (tt0267626)' # "+"
answers['19'] = '5. 2015' # "+"
answers['20'] = '1. 2014' # "+"
answers['21'] = '4. Сентябрь' # "+"
answers['22'] = '2. 450' # "+"
answers['23'] = '5. Peter Jackson' # "+"
answers['24'] = '5. Four By Two Productions' # "+"
answers['25'] = '3. Midnight Picture Show' # "+"
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave' # "+"
answers['27'] = '5. Daniel Radcliffe & Rupert Grint' # "+"

def get_month(s):
    month_s = s.split('/')
    return month_s[0]

data['profit'] = data.apply(lambda x: x.revenue - x.budget, axis=1)
data['cast_old'] = data.cast.apply(lambda x: x.replace('|', ', '))
data['release_month'] = data.release_date.apply(get_month)
data.genres = data.genres.str.split('|')
data.director = data.director.str.split('|')
data.cast = data.cast.str.split('|')
data.production_companies = data.production_companies.str.split('|')

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [7]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [8]:
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
data[data.runtime == data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [10]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [11]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data.profit == data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [17]:
data[data.profit == data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [19]:
len(data[data.profit > 0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [29]:
data2 = data[data.release_year == 2008]
data2[data2.profit == data2.profit.max()].original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [40]:
data2 = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
data2[data2.profit == data2.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [82]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data.genres.explode().value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [110]:
data2 = data.explode('genres')
data2[data2.profit > 0].groupby(['genres'])['genres'].count().sort_values(ascending=False)

genres
Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [94]:
data.explode('director').groupby(['director'])['revenue'].sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [104]:
data2 = data.explode('director').explode('genres')
data2[data2.genres == 'Action'].groupby(['director'])['genres'].count().sort_values(ascending=False)

director
Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Joe Cornish           1
Roger Spottiswoode    1
Jimmy Hayward         1
Jim Gillespie         1
Jon Avnet             1
Name: genres, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [116]:
data2 = data[data.release_year == 2012].explode('cast')
data2[data2.revenue == data2.revenue.max()].cast

970     Robert Downey Jr.
970           Chris Evans
970          Mark Ruffalo
970       Chris Hemsworth
970    Scarlett Johansson
Name: cast, dtype: object

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [119]:
data2 = data.explode('cast')
data2[data2.budget > data2.budget.mean()].groupby(['cast'])['original_title'].count().sort_values(ascending=False)

cast
Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Leslie Bibb           1
Leonard Nimoy         1
Lennie James          1
Lena Olin             1
50 Cent               1
Name: original_title, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [122]:
data2 = data.explode('cast').explode('genres')
data2[data2.cast == 'Nicolas Cage'].genres.value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Animation           3
Mystery             3
History             2
Romance             1
War                 1
Horror              1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [139]:
data2 = data.explode('production_companies')
data3 = data2[(data2.production_companies == 'Paramount Pictures')]
data3[data3.profit == data3.profit.min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [140]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [155]:
data2 = data.explode('production_companies')
#data2[data2.production_companies == 'Warner Bros.'].groupby(['release_year'])['profit'].sum().sort_values(ascending=False)
data2[data2.production_companies.str.contains("Warner Bros")].groupby(['release_year'])['profit'].sum().sort_values(ascending=False)
#орригинально! А вдруг кто "Warner Bras" название вбил??

release_year
2014    2292949646
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1844008221
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1282142579
2012    1258020056
2002    1022709901
2015     870368348
2006     625351872
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [183]:
data.groupby(['release_month'])['original_title'].count().sort_values(ascending=False)

release_month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: original_title, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [189]:
data[(data.release_month == '6')
    | (data.release_month == '7')
    | (data.release_month == '8')
    ].original_title.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [194]:
data2 = data[(data.release_month == '12')
             | (data.release_month == '1')
             | (data.release_month == '2')
            ].explode('director')
data2.groupby(['director'])['original_title'].count().sort_values(ascending=False)

director
Peter Jackson            7
Steven Soderbergh        6
Clint Eastwood           6
Martin Scorsese          4
Adam Shankman            4
                        ..
Matt Bettinelli-Olpin    1
Matt Reeves              1
Matthew O'Callaghan      1
Matthew Vaughn           1
Jon Avnet                1
Name: original_title, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [198]:
data2 = data.explode('production_companies')
data2['movie_len'] = data2.original_title.apply(lambda x:len(x))
data2[data2.movie_len == data2.movie_len.max()].production_companies

1448    Twentieth Century Fox Film Corporation
1448                   Four By Two Productions
Name: production_companies, dtype: object

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [199]:
data2 = data.explode('production_companies')
data2['movie_len'] = data2.overview.apply(lambda x:len(x))
data2.groupby(['production_companies'])['movie_len'].mean().sort_values(ascending=False)

production_companies
Midnight Picture Show                    1000.0
Room 9 Entertainment                      964.0
Brookwell-McNamara Entertainment          936.0
Lions Gate Family Entertainment           909.0
Crest Animation Productions               909.0
                                          ...
Projection Pictures                        74.0
London Boulevard                           74.0
Phantom Four                               72.0
Empire Pictures                            62.0
Motion Picture Corporation of America      59.0
Name: movie_len, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [215]:
data.groupby(['original_title'])['vote_average'].mean().sort_values(ascending=False).head(18)

original_title
The Dark Knight                                  8.1
The Imitation Game                               8.0
Room                                             8.0
Interstellar                                     8.0
Inside Out                                       8.0
The Grand Budapest Hotel                         7.9
The Pianist                                      7.9
Guardians of the Galaxy                          7.9
Memento                                          7.9
The Wolf of Wall Street                          7.9
Inception                                        7.9
Gone Girl                                        7.9
12 Years a Slave                                 7.9
The Lord of the Rings: The Return of the King    7.9
Prisoners                                        7.8
The Fault in Our Stars                           7.8
Eternal Sunshine of the Spotless Mind            7.8
The Prestige                                     7.8
Name: vote_average, dtype: float64

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [227]:
jhs = data[(data.cast_old.str.contains("Johnny Depp", na=False)) & (data.cast_old.str.contains("Helena Bonham Carter", na=False))]
his = data[(data.cast_old.str.contains("Hugh Jackman", na=False)) & (data.cast_old.str.contains("Ian McKellen", na=False))]
vps = data[(data.cast_old.str.contains("Vin Diesel", na=False)) & (data.cast_old.str.contains("Paul Walker", na=False))]
aks = data[(data.cast_old.str.contains("Adam Sandler", na=False)) & (data.cast_old.str.contains("Kevin James", na=False))]
drs = data[(data.cast_old.str.contains("Daniel Radcliffe", na=False)) & (data.cast_old.str.contains("Rupert Grint", na=False))]

len(jhs), len(his), len(vps), len(aks), len(drs)

(6, 5, 5, 5, 8)

# Submission

In [41]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '1. 107',
 '10': '1. 107'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)